In [1]:
# 📊 Sales Forecasting EDA – Clean Version

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Set Korean font
plt.rc('font', family='Malgun Gothic')
plt.rcParams['axes.unicode_minus'] = False

C:\Users\ghwns\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [3]:
# 📂 Load dataset
data_path = r"C:\Users\ghwns\HJ_git\sales-forecasting_smallbiz\data\sales-forcasting-smallbiz.xlsx"
df = pd.read_excel(data_path)

In [4]:
# 🧼 Basic inspection
print("✅ Data Preview")
print(df.info())
print(df.isnull().sum())

✅ Data Preview
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67900 entries, 0 to 67899
Data columns (total 53 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   기준_년분기_코드        67900 non-null  int64
 1   행정동_코드           67900 non-null  int64
 2   행정동_코드_명         67900 non-null  object
 3   서비스_업종_코드        67900 non-null  object
 4   서비스_업종_코드_명      67900 non-null  object
 5   당월_매출_금액         67900 non-null  int64
 6   당월_매출_건수         67900 non-null  int64
 7   주중_매출_금액         67900 non-null  int64
 8   주말_매출_금액         67900 non-null  int64
 9   월요일_매출_금액        67900 non-null  int64
 10  화요일_매출_금액        67900 non-null  int64
 11  수요일_매출_금액        67900 non-null  int64
 12  목요일_매출_금액        67900 non-null  int64
 13  금요일_매출_금액        67900 non-null  int64
 14  토요일_매출_금액        67900 non-null  int64
 15  일요일_매출_금액        67900 non-null  int64
 16  시간대_00~06_매출_금액  67900 non-null  int64
 17  시간대_06~11_매출_금액  67900 non-null  int64
 18  시간대_11~14_매출_금액  67900 non-null  int64
 19  시간대_14~17_매출_금액  67900 non-null  int64
 20  시간대_17~21_매출_금액  67900 non-null  int64
 21  시간대_21~24_매출_금액  67900 non-null  int64
 22  남성_매출_금액         67900 non-null  int64
 23  여성_매출_금액         67900 non-null  int64
 24  연령대_10_매출_금액     67900 non-null  int64
 25  연령대_20_매출_금액     67900 non-null  int64
 26  연령대_30_매출_금액     67900 non-null  int64
 27  연령대_40_매출_금액     67900 non-null  int64
 28  연령대_50_매출_금액     67900 non-null  int64
 29  연령대_60_이상_매출_금액  67900 non-null  int64
 30  주중_매출_건수         67900 non-null  int64
 31  주말_매출_건수         67900 non-null  int64
 32  월요일_매출_건수        67900 non-null  int64
 33  화요일_매출_건수        67900 non-null  int64
 34  수요일_매출_건수        67900 non-null  int64
 35  목요일_매출_건수        67900 non-null  int64
 36  금요일_매출_건수        67900 non-null  int64
 37  토요일_매출_건수        67900 non-null  int64
 38  일요일_매출_건수        67900 non-null  int64
 39  시간대_건수~06_매출_건수  67900 non-null  int64
 40  시간대_건수~11_매출_건수  67900 non-null  int64
 41  시간대_건수~14_매출_건수  67900 non-null  int64
 42  시간대_건수~17_매출_건수  67900 non-null  int64
 43  시간대_건수~21_매출_건수  67900 non-null  int64
 44  시간대_건수~24_매출_건수  67900 non-null  int64
 45  남성_매출_건수         67900 non-null  int64
 46  여성_매출_건수         67900 non-null  int64
 47  연령대_10_매출_건수     67900 non-null  int64
 48  연령대_20_매출_건수     67900 non-null  int64
 49  연령대_30_매출_건수     67900 non-null  int64
 50  연령대_40_매출_건수     67900 non-null  int64
 51  연령대_50_매출_건수     67900 non-null  int64
 52  연령대_60_이상_매출_건수  67900 non-null  int64
dtypes: int64(50), object(3)
memory usage: 27.5+ MB
None
기준_년분기_코드          0
행정동_코드             0
행정동_코드_명           0
서비스_업종_코드          0
서비스_업종_코드_명        0
당월_매출_금액           0
당월_매출_건수           0
주중_매출_금액           0
주말_매출_금액           0
월요일_매출_금액          0
화요일_매출_금액          0
수요일_매출_금액          0
목요일_매출_금액          0
금요일_매출_금액          0
토요일_매출_금액          0
일요일_매출_금액          0
시간대_00~06_매출_금액    0
시간대_06~11_매출_금액    0
시간대_11~14_매출_금액    0
시간대_14~17_매출_금액    0
시간대_17~21_매출_금액    0
시간대_21~24_매출_금액    0
남성_매출_금액           0
여성_매출_금액           0
연령대_10_매출_금액       0
연령대_20_매출_금액       0
연령대_30_매출_금액       0
연령대_40_매출_금액       0
연령대_50_매출_금액       0
연령대_60_이상_매출_금액    0
주중_매출_건수           0
주말_매출_건수           0
월요일_매출_건수          0
화요일_매출_건수          0
수요일_매출_건수          0
목요일_매출_건수          0
금요일_매출_건수          0
토요일_매출_건수          0
일요일_매출_건수          0
시간대_건수~06_매출_건수    0
시간대_건수~11_매출_건수    0
시간대_건수~14_매출_건수    0
시간대_건수~17_매출_건수    0
시간대_건수~21_매출_건수    0
시간대_건수~24_매출_건수    0
남성_매출_건수           0
여성_매출_건수           0
연령대_10_매출_건수       0
연령대_20_매출_건수       0
연령대_30_매출_건수       0
연령대_40_매출_건수       0
연령대_50_매출_건수       0
연령대_60_이상_매출_건수    0
dtype: int64

In [5]:
# ✂️ Subset relevant columns
df_subset = df[["기준_년분기_코드", "행정동_코드_명", "서비스_업종_코드_명", "당월_매출_금액"]].copy()

In [6]:
# 🔁 Group by quarter, region, and industry
df_grouped = df_subset.groupby(
    ["기준_년분기_코드", "행정동_코드_명", "서비스_업종_코드_명"]
)["당월_매출_금액"].sum().reset_index()

In [7]:
# 📉 Sort for exploration (ascending order)
df_grouped_sorted = df_grouped.sort_values(by=["당월_매출_금액"], ascending=True)
print("📉 Bottom revenue combinations")
print(df_grouped_sorted.head())

📉 Bottom revenue combinations
       기준_년분기_코드 행정동_코드_명 서비스_업종_코드_명  당월_매출_금액
8690       20241      송천동          가구       577
32281      20242     천호3동      가전제품수리       630
59232      20244   성수2가1동          가구      1145
38289      20243     면목7동       자동차미용      1216
46187      20243    원효로1동         핸드폰      3460

In [8]:
# 📈 Sort by quarter and revenue for trend analysis
df_grouped_quarter = df_grouped.sort_values(by=["기준_년분기_코드", "당월_매출_금액"], ascending=True)

In [9]:
# 🏆 Top revenue industries per quarter (nationwide sum)
df_quarterly = df_grouped.groupby(
    ['기준_년분기_코드', '서비스_업종_코드_명']
)["당월_매출_금액"].sum().reset_index()

top_service_per_quarter = (
    df_quarterly.sort_values('당월_매출_금액', ascending=False)
    .groupby('기준_년분기_코드')
    .first()
    .reset_index()
)

print("🏆 Top-grossing industry per quarter:")
print(top_service_per_quarter)

🏆 Top-grossing industry per quarter:
   기준_년분기_코드 서비스_업종_코드_명       당월_매출_금액
0      20241       한식음식점  3877994687371
1      20242       한식음식점  4053035124812
2      20243       한식음식점  3873742135864
3      20244       한식음식점  4230012388626